.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 0.7fr 1.7fr 1fr 1.4fr 1.3fr 0.8fr 1.1fr 0.8fr 0.6fr;
  gap: 8px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header"
    ". player-turn player-turn player-turn ."
    "main-game main-game main-game main-game main-game"
    "main-game main-game main-game main-game main-game"
    "main-game main-game main-game main-game main-game"
    ". input-answer input-answer input-answer ."
    ". geuss . pass ."
    "player-scores player-scores player-scores player-scores player-scores"
    ". . . . next-round"
    "footer footer footer footer footer";
  background-color: #060CE9;
}

.header {
  grid-area: header;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 10px;
  justify-content: center;
}

.player-turn {
  grid-area: player-turn;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 3px;
  justify-content: center;
}

.footer {
  grid-area: footer;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 3px;
  display: grid;
  justify-content: center;
}


.next-round {
  grid-area: next-round;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 3px;
  display: grid;
  justify-content: center;
}

.player-scores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "player-1-score . player-2-score"
    "player-1-score . player-2-score"
    "player-1-score . player-2-score";
  grid-area: player-scores;

}

.player-1-score {
  grid-area: player-1-score;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 3px;
  justify-content: center;
}

.player-2-score {
  grid-area: player-2-score;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 3px;
  justify-content: center;
}

.geuss {
  grid-area: geuss;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 3px;
  justify-content: center;
}

.pass {
  grid-area: pass;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 3px;
  justify-content: center;
}

.input-answer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    "input input input"
    ". . .";
  justify-self: stretch;
  grid-area: input-answer;
}

.input {
  grid-area: input;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 3px;
  justify-content: center;
}

.main-game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "cat-1 cat-2 cat-3 cat-4 cat-5 cat-6"
    "cat-1-c-collom-1 cat-2-colom-1 cat-3-collom-1 cat-4-collom4 cat-5-collom-1 cat-6-collom-1"
    "cat-1-collom-2 cat-2-collom-2 cat-3-collom-2 cat-4-collom-2 cat-5-collom-2 cat-6-collom-2"
    "cat-1-collom-3 cat-2-collom3 cat-3-collom-3 cat-4-collom-3 cat-5-collom-3 cat-6-collom-3"
    "cat-1collom-4 cat-2-collom4 cat-3-collom-4 cat-4-collom-4 cat-5-collom4 cat-6-collom-4"
    "cat-1-collom-5 cat-2-collom-5 cat-3-collom-5 cat-4-collom-5 cat-5-collom-5 cat-6-collom-5";
  grid-area: main-game;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 3px;
}

.cat-1 {
  grid-area: cat-1;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}


.cat-2 {
  grid-area: cat-2;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}


.cat-3 {
  grid-area: cat-3;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-4 {
  grid-area: cat-4;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-5 {
  grid-area: cat-5;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-6 {
  grid-area: cat-6;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-1-collom-1 {
  grid-area: cat-1-c-collom-1;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-1-collom-2 {
  grid-area: cat-1-collom-2;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-1-collom-3 {
  grid-area: cat-1-collom-3;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-1collom-4 {
  grid-area: cat-1-collom-4;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-1-collom-5 {
  grid-area: cat-1-collom-5;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-2-collom-5 {
  grid-area: cat-2-collom-5;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-3-collom-5 {
  grid-area: cat-3-collom-5;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-4-collom-5 {
  grid-area: cat-4-collom-5;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-5-collom-5 {
  grid-area: cat-5-collom-5;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}


.cat-6-collom-5 {
  grid-area: cat-6-collom-5;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-6-collom-4 {
  grid-area: cat-6-collom-4;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-5-collom4 {
  grid-area: cat-5-collom4;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-4-collom-4 {
  grid-area: cat-4-collom-4;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-3-collom-4 {
  grid-area: cat-3-collom-4;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-2-collom4 {
  grid-area: cat-2-collom4;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-2-collom3 {
  grid-area: cat-2-collom3;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-3-collom-3 {
  grid-area: cat-3-collom-3;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-4-collom-3 {
  grid-area: cat-4-collom-3;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-5-collom-3 {
  grid-area: cat-5-collom-3;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-6-collom-3 {
  grid-area: cat-6-collom-3;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-2-collom-2 {
  grid-area: cat-2-collom-2;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-3-collom-2 {
  grid-area: cat-3-collom-2;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-4-collom-2 {
  grid-area: cat-4-collom-2;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-5-collom-2 {
  grid-area: cat-5-collom-2;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-6-collom-2 {
  grid-area: cat-6-collom-2;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-2-colom-1 {
  grid-area: cat-2-colom-1;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-3-collom-1 {
  grid-area: cat-3-collom-1;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-4-collom4 {
  grid-area: cat-4-collom4;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-5-collom-1 {
  grid-area: cat-5-collom-1;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}

.cat-6-collom-1 {
  grid-area: cat-6-collom-1;
  display: grid;
  display: grid;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 2px;
  justify-content: center;
}


h1,
h2,
h3,
p,
a {
  color: #FFCC00;
}