
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  background-color: #060CE9;
  border-color: #FFCC00;
  padding: 10px;
}

.grid-item {
  background-color: #060CE9;
  border: 1px solid #FFCC00;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


h1,
h2,
h3,
p,
a {
  color: #FFCC00;
}