/* Resetting default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
}

/* Container styles */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 0;
  grid-template-areas:
    "header header header"
    "image image image"
    "image image image"
    ". play ."
    ". . ."
    "footer footer footer";
  background-color: #060ce9;
  height: 100vh;
}

/* Header styles */
.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffcc00;
  background-color: #060ee9e3;
}

.header h1 {
  color: #ffcc00;
}

/* Footer styles */
.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffcc00;
  background-color: #060ee9e3;
}

.footer h3 {
  color: #ffcc00;
}

/* Image styles */
.image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffcc00;
}

/* Play styles */
.play {
  grid-area: play;
  display: grid;
  place-items: center;
}

.play-here {
  display: grid;
  grid-gap: 10px;
  place-items: center;
}

/* Form styles */
input[type="text"] {
  padding: 5px;
  border: 2px solid #ffcc00;
  border-radius: 5px;
}

button#start-game-button {
  background-color: #ffcc00;
  color: #060ce9;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

/* Text styles */
h1,
p,
h3 {
  color: #ffcc00;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}
