body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #060ee9cb;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(9, 1fr);
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "Player-turn Player-turn Player-turn"
    "final-cat final-cat final-cat"
    "final-question final-question final-question"
    "final-question final-question final-question"
    ". bet-amount ."
    ". final-answer ."
    ". bet ."
    "footer footer footer";
}

.footer,
.header,
.Player-turn,
final-answer,
bet-amount,
final-cat,
final-question {
  display: grid;
  border: 2px solid #ffcc00;
  justify-content: center;
  align-items: center;
}

.bet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". bet-here ."
    ". . .";
  grid-area: bet;
}

h1,
h2,
h3,
p,
a {
  color: #ffcc00;
}

button {
  background-color: #ffcc00;
  color: #060ee9cb;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #060ee9cb;
  color: #ffcc00;
  transition: 0.3s;
}
